@model JabilEjercicio.Models.PartNumber

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PartNumber</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartNumber1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartNumber1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkcustomerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkcustomerNavigation.Pkcustomer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PkpartNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
